* {
    box-sizing: border-box;
}

:root {
    --void: #121719;
    --background: #212a2e;
    --secondary-background: #2e3a40;
    --text: #F7F8F8;
    --inverted-text: var(--void);
    --disabled-text: #4b5e68;
    --link: #828fff;
    --link-hover: #b3baff;
    --notification-error-text: #D8000C;
    --notification-error-background: #FFBABA;
    --notification-success-text: #155724;
    --notification-success-background: #D4EDDA;
    --gender-neutral: var(--text);
    --gender-male: #00FFFF;
    --gender-female: #FF00FF;
}

html, body {
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

.main {
    min-height: 720px;
    padding: 30px;
}

.header {
    background-color: var(--secondary-background);
    padding: 10px 20px 0 20px;
}

.sub-header {
    margin-top: 1px;
    background-color: var(--secondary-background);
    padding: 0 20px;
    height: fit-content;
}

.title {
    display: block;
    margin: 0;
    padding: 0 10px;
}

.nav-button {
    display: inline-block;
    padding: 6px 10px;
}

.nav-button-current {
    color: var(--text);
    user-select: none;
    font-weight: bold;
}

.footer-line {
    border: none;
    border-top: 1px solid var(--disabled-text);
}

.footer-text {
    text-align: center;
}

.login-form {
    display: block;
    margin: auto;
    padding: 20px 10px;
    border-radius: 5px;
    background-color: var(--secondary-background);
    width: fit-content;
    text-align: center;
}

.login-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.login-form .input-label {
    display: inline-block;
    width: 120px;
    margin-right: 10px;
    text-align: left;
}

.login-form .input-submit {
    width: 150px;
    margin-top: 20px;
}

.input-textbox, .input-select, .input-multiline-textbox {
    width: 300px;
}

.input-multiline-textbox {
    height: 150px;
    resize: vertical;
    overflow-x: scroll;
    white-space: nowrap;
}

.notice {
    border-radius: 7px;
    padding: 20px 30px;
    margin-bottom: 10px;
}

.notice-error {
    background-color: var(--notification-error-background);
    color: var(--notification-error-text);
}

.notice-success {
    background-color: var(--notification-success-background);
    color: var(--notification-success-text);
}

.notice-dismiss {
    float: right;
    color: var(--inverted-text);
    cursor: pointer;
}

.table-wide {
    width: 100%;
}

.thead-separator thead td, .thead-separator {
    border-bottom: 1px solid var(--disabled-text);
}

.alternating-rows tbody tr:nth-child(even) td {
    background-color: var(--secondary-background);
}

.character-image {
    display: inline-block;
    width: 200px;
    height: 350px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.character-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.left-align {
    text-align: left;
}

.gender-neutral-color {
    color: var(--gender-neutral);
}

.gender-male-color {
    color: var(--gender-male);
}

.gender-female-color {
    color: var(--gender-female);
}

.gender-neutral-icon,
.gender-male-icon,
.gender-female-icon {
    display: inline-block;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    line-height: 1.3em;
    text-align: center;
    color: var(--inverted-text);
}

.gender-neutral-icon {
    background-color: var(--gender-neutral);
}

.gender-male-icon {
    background-color: var(--gender-male);
}

.gender-female-icon {
    background-color: var(--gender-female);
}
